/*
background purple: #540B51
background ivory: #F3EAE2
button blue: #4285F4
titles black: #191817
paragraph black: #000000
paragraph yellow: #ECB12F
links blue: #2E71A6
footer links grey: #454245
*/

body {
  font-family: "Inter", sans-serif;
}

.color-section {
  background-color: #540b51;
  margin: 0 auto;
  max-width: 100%;
}

.nav-bar-container {
  display: flex;
}

ul {
  display: none;
  list-style: none;
}
.nav-bar {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

#slack-icon {
  width: 100px;
}

.nav-btn {
  background: transparent;
  border: none;
}

.header-container {
  width: 400px;
  margin: 0 auto;
  max-width: 100%;
}

.header-container h1 {
  text-align: center;
  color: white;
  font-size: 36px;
  font-weight: 500;
}

.header-container > p > span {
  color: #ecb12f;
  font-weight: 500;
}

.header p {
  padding: 0 10px;
  font-weight: 300;
  font-size: 14px;
  text-align: center;
  color: white;
}

.button-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.cta-btn {
  width: 95%;
  margin: 0 auto;
  border-radius: 5px;
  border: none;
  color: #540b51;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 0.1px;
  text-transform: uppercase;
  height: 45px;
  text-align: center;
}

.google-btn {
  background: #4285f4;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-logo {
  width: 25px;
  background-color: white;
  margin-right: auto;
}

.image-logo span {
  margin-right: auto;
}

.screenshot-image {
  width: 100%;
  margin-top: 25px;
}
